# Server
PORT=3000

# Supabase
SUPABASE_URL=https://tbglkrkcnbhajmfqchdr.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_9xTPk4cfmrcQ9GvzL7rxfQ_VaNMFFYW
SUPABASE_SECRET_KEY=sb_secret_Zay_znn-dUiewSh3yEpzlA_IYlFZrns
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Zay_znn-dUiewSh3yEpzlA_IYlFZrns

# PayPal
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret

# PayPal Environment
# sandbox = testing
# live = production
PAYPAL_MODE=sandbox

# Frontend URL
FRONTEND_URL=https://productionsaiinc-lgtm.github.io/model-site